.create-list-container {
    padding: 2em 1em;
    margin: 2em 0em;
    border-radius: 14px;
    width: 340px;
    min-width: fit-content;
    text-align: center;
    background-color: var(--dark);
    color: var(--lighter-blue);
    text-transform: uppercase;
}
  

#list-name-input {
    padding: 0.3em;
    font-size: 1.2em;
    outline: none;
    border: none;
}

.create-list-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.create-list-add-button {
    font-size: 2.5em;
    margin-left: 0.2em;
    transition: 0.4s;

}


.create-list-add-button:hover {
    cursor: pointer;
    color: var(--pink);
}      