.all-preview-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview-list-container {
 
    padding: 1em 0em 1em 1em;

    margin: 1em;
    background-color: var(--light);

}

.list-preview-container-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 1em;
    width: 80%;
}




.edit-icon {
    font-size: 1.5em;
}

.edit-icon:hover {
    cursor: pointer;
}


.items-container {
    padding-right: 7em;
}



