.all-preview-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview-list-container {
    padding: 1em 0em 1em 1em;
    margin: 1em;
    background-color: var(--dark);
    width: 350px;
    color: var(--light);
    border-radius: 14px;
}

.list-preview-container-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 1em;
    width: 80%;
    color: var(--pink);
    text-transform: uppercase;
}




.edit-icon {
    font-size: 1.5em;
}

.edit-icon:hover {
    cursor: pointer;
}


.items-container {
    padding-right: 7em;
    font-size: smaller;
}



