.checkbox {
    font-size: 1.5em;
    color: #B197FC;
    margin-right: 0.2em;
}

.checkbox:hover {
    cursor: pointer;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    font-size: 1.4em;
}

